@import "tailwindcss";

.layout {
  min-height: 100vh;
  background-color: #f5f5f5; /* レイアウト全体 */
}

.header {
  height: 80px;
  width: 100%;
  background-color: #ffffff; /* 白 */
  color: white;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* 軽い影を追加 */
}

.main-content {
  background-color: #f5f5f5; /* 共通レイアウト背景と同系色 */
  border: 1px solid #ccc; /*見やすさ重視、後で消します*/
  padding: 20px;
  margin: 20px;
  border-radius: 8px; 
}